<tr class="row">
    <td class='name'>
        <a class='res_name default' href="{{res_url}}">
        {{res_name}}
    </a>
        <input type="text" value="{{res_name}}" class="mod">
        <input type="text" value="{{res_url}}" class="mod">
    </td>
    <td>
        <span class="default">{{res_type}}</span>
        <input type="text" value="{{res_type}}" class="mod">
    </td>
    <td><span class="default">{{res_address}}</span>
        <textarea class="mod materialize-textarea">{{res_address}}</textarea>
    </td>
    <td><span class="default">{{res_phone}}</span>
        <input type="text" value="{{res_phone}}" class="mod">
    </td>
    <td><span class="default">{{res_ratings}}</span>
        <input type="text" value="{{res_ratings}}" class="mod">
    </td>
    <td><span class="default">
        {{res_hours}}
    </span>
        <textarea class="mod materialize-textarea">{{res_hours}}</textarea>
    </td>
    <td><span class="actions">
            <button class='btn-floating red accent-4 edit'><i class="mdi-image-edit"></i></button>
            <button class='btn-floating red accent-4 delete'><i class="mdi-content-clear"></i></button>
            <button class='btn-floating red accent-4 mod modButton'><i class="mdi-content-add"></i></button>
            <button class='btn-floating red accent-4 cancel'><i class="mdi-content-block"></i></button>
    </span>
    </td>
</tr>