body{
    background:url("http://www.fabuloussavers.com/new_wallpaper/University_Of_Minnesota_Desktop_Wallpaper_freecomputerdesktopwallpaper_1600.jpg");
    color:yellow;
    background-repeat: no-repeat;
    background-position: right top;
    margin:0;
    padding:0;
}

a{
    color:yellow;
}


.userInput{
    display:block;
}

#headers{
    width:15%;
    margin-left:auto;
    margin-right:auto;
}


.pictureWrapper{
    position:absolute;
    height:500px;
    width:500px;
    background:#FDD017;
    border:1px solid black;
}


.picture{
    height:300px;
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}